<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>title</title>
</head>
<body>
<header>
header
</header>
<section>page data</section>
<footer>
footer
</footer>

// axios
let config = 'https://api.ittps.ru/ows/config/json'
console.log(config)
<script> console.log('ejs page')

</script>
</body>
</html>
